<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
  </head>
  <body>
    <form method="POST" action="calculadora">
      <%= csrf_token_field %>
      <label>Operando 1</label>
      <input id="op_1" type="text" name="op_1"><br>
      <label>Operando 2</label>
      <input id="op_2" type="text" name="op_2"><br>
      <button type="submit" name="sumar"> Sumar </button>
      <button type="submit" name="restar"> Restar </button>
      <button type="submit" name="promedio"> Promediar </button>
    </form>
  <label>Resultado</label>
      <%= @resultado %>
  <br>
  <label>Cantidad Operaciones </label>
    <%= @n_operaciones %>
  <br>
  </body>
</html>
